.form2 {
  // display: flex;
  width: 100%;
  max-width: 80%;
  border-radius: 0.5rem;
  border: 1px solid #379477;
  padding: 0.7rem 1.5rem;
}

@media screen and (max-width: 550px) {
  .form2 {
    padding: 1rem;
  }
}